.agent {
  background-color: rgb(105, 131, 133);
  border: 5px solid #135844;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  color: #25085f;
}

.agent:hover {
  background: rgb(14, 13, 13);
  box-shadow: 0.7px 1px 12px rgba(121, 121, 121, 0.849);
  border: 5px solid rgb(95, 36, 95);
  transition: box-shadow 1s;
  color: #fff;
}

.fixed-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.btn-regular {
  padding: 5px 50px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background: rgb(173, 166, 127);
  font-weight: 900;
}

.btn-regular:active {
  transform: scale(0.95);
}
