.header-container {
  text-align: center;
  line-height: 15px;
  background: rgba(28, 51, 70, 0.787);
  padding: 10px;
  color: rgb(241, 202, 202);
}

.font-size {
  font-size: 45px;
}
span {
  font-weight: 400;
}

.font-weight {
  font-weight: 500;
  font-size: 35px;
}
